__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl
*.manifest
*.spec
*.so

# Virtual environments
.env
.venv/
env/
venv/
env.bak/
venv.bak/

# Poetry
.poetry/
poetry.lock


# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# Spyder
.spyderproject
.spyproject


*.log
*.sqlite3
*.sqlite3-journal
*.pid
*.rdb
*.aof
*.cover
.coverage
.coverage.*
.cache/
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.dmypy.json

.ipynb_checkpoints/
profile_default/
ipython_config.py


ml/ml_data/


docker-compose.override.yml
*.env

alembic/__pycache__/
alembic/versions/__pycache__/