APP_CONFIG__DB__URL=postgresql+asyncpg://postgres:password@localhost:5432/app
APP_CONFIG__DB__ECHO=0
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=d3408aceef8f713c89fe1b3bec55120ac1ef3a0d2a5010acad7f97ee76ba4592
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=7fdaaf4c726968deae25a26d309c78901114869d67e107ea7619a5e54fbe9315